# Build directories
build/
cmake-build-*/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Virtual environment
venv/

# Compiled files
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

# Qt specific
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
*.qm

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

scripts/
